/* Resetting margin and padding for html and body */
html, body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fafafa;
  background: linear-gradient(45deg, #f3ec78, #af4261);
}

.main {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
  animation: fadeIn 1.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.title {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 8rem;
  letter-spacing: -2px;
  color: #e7e7e7;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5rem;
}

.title span {
  display: inline-block;
  animation: bounce 2s infinite;
}

.description {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #111;
  background-color: #f3ec78;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #f5f085;
}

.icon-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 1000;
}

.icon-container a {
  color: white;
  transition: 0.3s;
}

.icon-container a:hover {
  color: #f3ec78;
}

.learn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}
.learn-sidebar {
  width: 250px;
  padding: 1rem;
  background-color: #9e6161; /* A pastel color to match with the theme */
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.learn-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.learn-sidebar li {
  margin-bottom: 1rem;
}

.learn-sidebar a {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #f3f2db;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: larger;
}

.learn-sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.learn-content {
  flex: 3;
  padding: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
